[submodule "ceph"]
	path = chef/cookbooks/ceph
	url = https://github.com/VictorLowther/ceph-cookbooks.git
	branch = master
[submodule "apache2"]
	path = chef/cookbooks/apache2
	url = https://github.com/opscode-cookbooks/apache2.git
	branch = master
